/* module（共通アイテム） */
/* --------------------------------- */
/* title */
.m-ttl {
  font-size: rem(32);
  font-weight: 600;
}

@include mq(tab) {
  .m-ttl {
    font-size: rem(28);
  }
}

@include mq(sp) {
  .m-ttl {
    font-size: rem(22);
  }
}

/* btn */
.m-btn {
  display: block;
  font-size: rem(14);
  color: $whiteFont-color;
  padding: rem(11) rem(36);
  border-radius: 5px;
  background: rgb(226, 60, 200);
  background: linear-gradient(90deg, rgba(226, 60, 200, 1) 0%, rgba(96, 32, 176, 1) 100%);
}

.m-btn:focus {
  box-shadow: 1px 2px 3px rgba(51, 51, 51, 0.6);
}


/* utility（便利スタイル） */
/* --------------------------------- */
.u-wrap {
  width: 100%;
  max-width: rem(1000);
  margin: 0 auto;
}

@include mq(pc) {
  .u-wrap {
    padding: 0 rem(32);
  }
}

@include mq(tab) {
  .u-wrap {
    padding: 0 rem(16);
  }
}

/* hover */
.hover {
  opacity: .7;
  transition: .3s;
  cursor: pointer;
}

// 改行SP表示調整
@include mq(tab) {
  .br-sp {
    display: none;
  }
}